{% load base_tags_filters %}
<html lang="en" xmlns="">
<head>
    <meta charset="utf-8">
    <title>API</title>

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.80/jsrender.min.js" type="text/javascript"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }
        .required, [required] {
            border: 1px solid red;
        }
        .optional {
            border: 1px solid green;
        }
        label {
            min-width: 300px;
            width: 300px;
            text-align: right;
        }
        h1, form {
            margin: 50px;
        }
        textarea {
            width: 300px;
            height: 300px;
        }
      </style>



</head>
<body>

{% block content %}
<script>
var argspec = {{ argspec|to_json|safe }};
console.log(argspec);
$(function(){
    var tmpl = $.templates({'markup': "#inputsTemplate", 'allowCode': true});

    $('select').change(function(){
        var methodname = $(this).val();
        if (methodname) {
            console.log(methodname, argspec[methodname]);
            $('#inputs').html(tmpl.render({'argspec':argspec[methodname]}));
        } else {
            $('#inputs').html();
        }
    }).trigger('change');


    $('form').submit(function(e){
        if (!$('select').val()) {
            return false;
        }

        var url = '/api/'+$('select').val()+'/';

        var data = $(this).serialize().split('&');

        $(this).html('');
        var i, k, v;
        for (i = 0; i < data.length; i++) {
            k = data[i].split('=')[0];
            v = data[i].split('=')[1];
            $(this).append($('<input />').attr({'type': 'hidden', 'name': k, 'value': v}));
        }

        $('#loader').show();
        console.info(url, $(this).serialize());
        $(this).attr('action', url);
        return true;
    });

});

</script>
    <h1>Api</h1>

    <form method="post" action="" enctype="multipart/form-data">
        <div>
            <label>Method</label>
            <select class="required" required="required">
                <option value="" selected="selected"></option>
                {% for methodname in argspec.keys|sorted_list %}
                    <option value="{{ methodname }}">{{ methodname }}</option>
                {% endfor %}
            </select>
        </div>
        {% verbatim %}<script id="inputsTemplate" type="text/x-jsrender">

            {{* for(key in data.argspec.required) { }}
                {{* value = data.argspec.required[key]; }}
                <label>
                    {{*:value}}
                </label>

                {{* if (value.indexOf('_text') != -1) { }}
                    <textarea name="{{*:value}}" class="required" required="required" />
                {{* } else { }}
                    <input name="{{*:value}}" class="required" required="required" type="text" />
                {{* }  }}

                <br />
            {{* } }}

            {{* for(key in data.argspec.optional) { }}
                {{* value = data.argspec.optional[key]; }}
                <label>
                    {{*:key}}
                </label>

                {{* if (typeof value == 'boolean') { }}
                    <input type="hidden" name="{{*:key}}" value="0">
                    <input type="checkbox" class="optional" name="{{*:key}}" value="1" {{*: value ? 'checked="checked"' : '' }} />
                {{* } else { }}
                    {{* if (key.indexOf('_text') != -1) { }}
                        <textarea name="{{*:key}}" class="optional">{{*: value ? value : '' }}</textarea>
                    {{* } else { }}
                        <input name="{{*:key}}" class="optional" value="{{*: value ? value : '' }}" />
                    {{* }  }}
                {{* } }}

                <br />
            {{* } }}

        </script>{% endverbatim %}
        <div id="inputs"></div>
        <div>
            <label>&nbsp;</label>
            <input type="submit">
        </div>
    </form>

    {% random_block %}
        <img src="https://i.imgur.com/tqI96i3.gif" id="loader" style="display:none" width="123">
    {% or %}
        <img src="https://i.imgur.com/n6mIeR0.gif" id="loader" style="display:none" width="123">
    {% or %}
        <img src="https://i.imgur.com/Yh35xhH.gif" id="loader" style="display:none" width="123">
    {% or %}
        <img src="https://i.imgur.com/AHNP4q0.gif" id="loader" style="display:none" width="123">
    {% or %}
        <img src="https://i.imgur.com/dWiqpjO.gif" id="loader" style="display:none" width="123">
    {% endrandom %}


{% endblock %}

</body>
</html>